@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/

.bg-color-name-title {
    background-color: yellow;
    color: red;
    font-family: "Modak", sans-serif;
    font-weight: 100;
    font-size: 46px;
    text-align: center;
}

.ui-menu-color-home {
    background-color: red;
    color: #fff;
    font-size: 25px;
    font-family: "Just Another Hand", cursive;
}

.ui-menu-color-meettheband {
    background-color: red;
    color: #fff;
    font-size: 25px;
    font-family: "Just Another Hand", cursive;
}

.ui-menu-color-media {
    background-color: red;
    color: #fff;
    font-size: 25px;
    font-family: "Just Another Hand", cursive;
}

.ui-menu-color-tour {
    background-color: red;
    color: #fff;
    font-size: 25px;
    font-family: "Just Another Hand", cursive;
}

.row-table {
    display: table;
}

.section-column {
    padding: 0 30px 30px;
    float: none;
}

.row-table {
    display: table;
    background-color: red;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}


/*--------------------------------------------Heading*/

header {
    margin: 0;
}

.name {
    font-weight: 100;
    font-size: 60px;
    margin-top: 10px;
}

.title {
    font-weight: 200;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Indie Flower", cursive;
    color: red;
}

.short-bio {
    padding-left: 75px;
    padding-right: 75px;
    float: none;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 30px;
    padding: 0;
}

#nav {
    margin: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: bold;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    font-size: 25px;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.logo {
    background: url("../images/band.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
    margin-left: 0;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.form-group {
    margin-left: 0px;
    margin-bottom: 0px;
    background: red;
    padding: 30px 30px 30px 30px;
    font-family: "Indie Flower", cursive;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

.btn {
    font-family: "Indie Flower", cursive;
    color: red;
    background: yellow;
    font-size: 25px;
    float: right;
}

.form-text {
    color: white;
}

/*--------------------------------------------Band Cards.css*/

.band-cards {
    padding-bottom: 0;
    background-color: red;
    font-family: "Indie Flower", cursive;
    color: white;
}

.card-body {
    padding: 20px;
    margin-bottom: 0;
    background-color: red;
    font-family: "Indie Flower", cursive;
    color: white;
}

.member-head {
    font-family: "Indie Flower", cursive;
    color: white;
}

.card-text {
    font-family: "Indie Flower", cursive;
    background-color: red;
    color: white;
    font-size: 18px;
    padding-left: 10px;
}

.card-img-top {
    padding: 0;
    min-height: 280px;
    max-height: 280px;
    margin-bottom: 0;
}

/*--------------------------------------------Table.css*/

.tour-container {
    background-color: red;
    color: yellow;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 20px;
}

.tour-header {
    font-family: "Modak", cursive;
    font-size: 40px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.tour-foot {
    padding-top: 20px;
    font-family: "Just Another Hand", cursive;
    font-size: 35px;
}

.tour-list {
    padding-left: 75px;
    padding-right: 75px;
    float: none;
}

.table-tour {
    background-color: red;
    float: none;
    font-family: "Indie Flower", cursive;
    color: white;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 30px;
}

/*--------------------------------------------Media*/

.media-content {
    background-color: yellow;
    padding-bottom: 50px;
    display: block;
}

.thumbnail {
    padding: 20px;
    min-height: 360px;
    max-height: 360px;
}

.embed-responsive {
    background-color: red;
}

/*--------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    max-width: 100%;
}


/*--------------------------------------------Footer*/

footer {
    background-color: yellow;
    color: red;
    min-height: 80px;
    text-align: center;
}

.general-sub {
    font-size: 25px;
    font-family: "Just Another Hand", cursive;
    text-align: center;
    margin-top: 25px;
}

.social-links li a i {
    text-align: center;
    width: 32px;
    font-size: 20px;
    line-height: 7px;
    color: red;
    background: yellow;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
